<div class="container-fluid">
   <h1 text-align="center">Curious Cat Finder</h1>
   <div class="row">
     <div class="container">
      <a href="http://thecatapi.com"><img src="http://thecatapi.com/api/images/get?format=src&type=gif"></a>
     </div>
   </div>
   <div class="row"><span>&nbsp;</span></div>
    <div class="row">
        <div class="col-md-8">
            <p class="lead">Are you bored and looking for something interesting to do during your leisure time?
            	Well then look no further as we bring to you the new cat finder application. We present you with
            	pictures of cute cats and all you gotta do is label them as you like them to be. So sit back, relax
            	and bring out the cat person in you.
            </p>
            <div>
            	<div class="col-md-4">
                  <p class="text-center pull-right">
                    <a ng-click="adminLogin()">
                      Admin
                      <span class="glyphicon glyphicon-arrow-right"></span>
                   </a>
                  </p>
                </div>
                
                <div class="col-md-4">   
                   <p class="text-center pull-left">
                      <a ng-click="userLogin()">
                        Label your Katz
                        <span class="glyphicon glyphicon-arrow-right"></span>
                      </a>
                    </p>
                </div>
                <div class="col-md-4">
                       <p class="text-center pull-left">
                          <a ng-click="userSignup()">
                             Register as a cat labeller
                             <span class="glyphicon glyphicon-arrow-right"></span>
                          </a>
                       </p>
                  </div>
            </div>
        </div>
    </div>
</div>
