<!DOCTYPE html>
<html ng-app="catApp">
    <head>
        <title>Crazy cat finder</title>
        <link href="static/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    </head>
<body>
    <div ng-view>
    </div>

    <script src="static/bower_components/jquery/dist/jquery.js"></script>
    <script src="static/bower_components/jquery-ui/jquery-ui.js"></script>
    <script src="static/bower_components/lodash/dist/lodash.js"></script>
    <script src="static/bower_components/angular/angular.js"></script>
    <script src="static/bower_components/angular-resource/angular-resource.js"></script>
    <script src="static/bower_components/angular-route/angular-route.js"></script>
    <script src="static/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="static/bower_components/angular-ui-date/src/date.js"></script>
    <script src="static/bower_components/angular-ui-notification/dist/angular-ui-notification.min.js"></script>

    <script src="static/js/main.js"></script>
    <script src="static/js/home/home-controller.js"></script>
    <script src="static/js/test/test-controller.js"></script>
    <script src="static/js/admin/admin-controller.js"></script>

   </body>
</html>

